.Categories {
  height: auto;
  margin-top: 5vh;
}

.Categories > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  height: auto;
}

.Categories .parent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: bebas-neue-pro;
  font-weight: var(--titleFont);
  font-size: 2vw;
  text-transform: uppercase;
  color: var(--white);
  position: relative;
  cursor: pointer;
  margin-bottom: 1vh;
}

.Categories .parent span {
  background-color: #4c4860;
  color: #ae9fd9;
  width: 100%;
  text-align: center;
  position: relative;
}

.Categories .parent svg {
  position: absolute;
  z-index: 4;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
}

.Categories .parent .sub {
  display: flex;
  transform: scaleY(0);
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 4;
  height: 0;
  padding-top: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out, opacity 0.2s;
}

.Categories .parent .sub.active {
  transform: scaleY(1);
  padding-top: 5vh;
  height: auto;
  opacity: 1;
  transition: all 0.4s ease-in-out, opacity 0.2s;
}

.Categories .parent .sub li {
  width: 100%;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25vh;
  text-transform: uppercase;
  font-size: 1vw;
  font-family: var(--font);
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .Categories {
    height: 5vh;
  }

  .Categories > ul {
    height: 100%;
    flex-wrap: nowrap;
  }

  .Categories .parent {
    width: 14vw;
    height: 100%;
    margin-bottom: 0;
  }

  .Categories .parent .sub {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    z-index: 4;
    height: auto;
    transform: scaleY(1);
  }
  .Categories .parent span {
    background-color: transparent;
    color: var(--white);
    width: auto;
    text-align: center;
  }

  .Categories .parent:hover .sub {
    display: flex;
    position: absolute;
    top: 5vh;
    margin-top: auto;
    opacity: 1;
  }

  .Categories .parent .sub.active {
    transform: scaleY(1);
    padding-top: 0;
    height: auto;
    opacity: 1;
    transition: all 0.4s ease-in-out, opacity 0.2s;
  }

  .Categories .parent:hover .sub li {
    background-color: #4c4860;
    color: #ae9fd9;
  }

  .Categories .parent:hover .sub li:hover {
    background-color: var(--currentPage);
    color: var(--white);
  }
}
